body{
    margin: 0;
}
.fixed-header{
    position: fixed;
    margin-top: 0px;
    width: 120%;
    position: fixed;        
    background: #333;
    text-align: left;
    color: #fff;
    
    
}
.container{
    margin-left: 420px;
}
nav a{
    color: #fff;
    text-decoration: none;
   
    display: inline-block;
    
    padding: 7px 25px;
    line-height: 3;
  font-size: 20px;
}nav a:hover{
    opacity: 0.4;
}

