
  
  /* Clear floats after image containers */
  .row {
    display:inline-block;
   background-color: gray ;
   width: 100%;

  }
  h2{
      
      text-align: center;
      font-size: 50px;
  }
  h3{
      text-align: center;
      font-size: 40px;
      color:red;
  }
  h1{
      margin-top: 70px;
      text-align: center;
      font-size: 80px;
     color: slateblue;
  }
  .column{
      height: 300px;
      width: 300px;
      padding: 50px;
  }
  .row1{
      display: inline-block;
      
    
  }
  .column1{
      width: 300px;
      height: 300px;
      padding-left: 80px;
  }
  .row3 {
    display:inline-block;
   background-color: gray ;
   width: 100%;
  }
  .column3{
    width: 200px;
    height: 200px;
   padding-left: 100px;
}
.you{
    margin-left: 300px;
}
.row2{
    display: inline-block;
   
}
.column2{
    width: 200px;
    height: 200px;
    padding:100px;
}
.footer{
    height: 35px;
     
    color: #ffffff;
    width: 100%;
    background-color: #849e1d;
    text-align: center;
    left: 0;
    bottom: 0;
 }
 .vim{
    margin-left: 250px;
 }
 