@media (max-width: 1450px) and (min-width:811px){
    body{
        background-color:rgb(48, 54, 64);
        color:aliceblue;
        overflow-x:hidden;
        font-weight: bold;
        font-family:'Courier New', Courier, monospace;
    }
    #nav{
        margin-left: 65%;
    }
    #country{
        align-self: right;
        width:20%;
    }
    /* #myForm2{
        margin-top: -3%;
        margin-left: 45%;
    } */
    #Go{
        transition: 0.5s;
        transition-timing-function: ease-in;
        border-radius: 7px;
        border-width: 2px;
        background-color: rgba(8, 99, 164, 0.7);
        color:aliceblue;
        height: 7vh;
    }
    #dispvcc{
        color:rgb(21, 203, 11);
        font-weight: bolder;
        font-size: 1.5rem;
        margin-left:10%;
        padding: 10px;
    }
    #dispperc{
        color:rgb(21, 203, 11);
        font-weight: bolder;
        font-size: 1.5rem;
        margin-left:55%;
        padding: 10px;
    }
    #myForm2>input{
        height: 3vh;
        border-radius: 7px;
        border-width: 2px;
    }
    #location{
        transition: 0.5s;
        transition-timing-function: ease-in;
        padding: 0.67%;
        margin-top: -3%;
        margin-left: 15%;
        border-radius: 5px;
        background-color: rgba(8, 99, 164, 0.7);
        color:rgb(181, 210, 235);
        text-decoration: none;
        font-size: 0.6rem;
    }
    #nv1{
        transition: 0.5s;
        transition-timing-function: ease-in;
        padding: 0.67%;
        float:right;
        margin-top: -3%;
        border-radius: 5px;
        background-color: rgba(8, 99, 164, 0.7);
        color:rgb(181, 210, 235);
        text-decoration: none;
        font-size: 0.6rem;
    }
    .line{
        background-color: lightslategrey;
        color: lightslategrey;
        height: 2px;
        border-radius: 2px;
    }
    #location:hover,#Go:hover,#nv1:hover{
        color: honeydew;
        background-color: rgb(35, 130, 214);
        border-radius: 5px;
        transition-duration: 0.5s;
        transition-timing-function:ease-in-out;
    }
    #head{
        background-color:rgb(48, 54, 64,0.8);
        position: fixed;
        width: 100%;
        height: 10%;
        margin-left:-0.5%;
        margin-top: 0%;
    }
    #head1{
        color:aliceblue;
        font-size: 2rem;
        margin-left: 8%;
        margin-top: -5%;
    }
    #img1{
        align-self: center;
        margin-left: 23%;
    }
    #wrldsts,#disp{
        border-radius: 10px;
        background-color:rgb(48, 54, 64);
        margin-top:5%;
    }
    #wrldhead,#srch{
        text-align: center;
        font-size: 2rem;
        color:rgb(53, 64, 66);
        padding: 1%;
    }
    #srch{
        color:aliceblue;
    }
    #wrldrec1 ,#disprec{
        color:rgb(52, 187, 40);
        font-weight: bolder;
        font-size: 1.5rem;
        margin-left:10%;
        padding: 1%;
    }
    #wrldrecdat,#disprecdat{
        margin-left:2%;
    }
    #wrldrec4,#dispded{
        color:lightgray;
        font-weight: bolder;
        font-size: 1.5rem;
        margin-right:20%;
        margin-top: -5.25%;
        text-align: right;
        padding: 1%;
    }
    #veryhigh{
        border-radius:10px;
        background-color:rgba(231, 35, 35, 0.8);
        display:flex;
        flex-wrap: nowrap;
    }
    #wrldactdat,#dispdeddat{
        margin-right: 1%;
    }
    #dispprec{
        border-radius: 5px;
    }
    #high{
        border-radius:10px;
        background-color:rgba(231, 195, 35,0.8);
        display:flex;
        flex-wrap: nowrap;
    }
    #low{
        border-radius:10px;
        background-color:rgba(110, 202, 64, 0.8);
        display:flex;
        flex-wrap: nowrap;
    }
    #wrldrec3,#dispcnf{
        color:rgb(35, 104, 241);
        font-weight: bolder;
        font-size: 1.5rem;
        margin-left:10%;
        margin-top:1%;
        padding: 10px;
    }
    #wrldcnfdat,#dispcnfdat{
        margin-left:2.5%;
    }
    #wrldrec2,#dispactive{
        color:rgb(214, 38, 38);
        font-weight: bolder;
        font-size: 1.5rem;
        margin-right:20%;
        margin-top: -5.5%;
        text-align: right;
        padding: 10px;
    }
    #wrlddeddat,#dispactivedat{
        margin-right: 2.25%;
    }
    #world{
        margin: 1%;
        padding: 1%;
        border-radius: 10px;
        border-width: 5px;
        background-color:aliceblue;
    }
    #disp{
        padding: 2%;
        border-radius: 10px;
    }
    .bingwidget{
        overflow-x: hidden;
        margin-left: 30%;
    }
}