

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #f2f2f2;
}

html{
  scroll-behavior: smooth;
}
header{
  position: fixed;
  width: 100%;
}

nav{
    background:#222222;
    padding: 10px 40px 10px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}
nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav ul li.logo{
    flex: 1;
    font-size: 30px;
    font-weight: 700px;
    cursor: pointer;
}
nav ul li.logo:hover{
  color: red;
}
nav ul div.itms{
    padding: 0 25px;
    display: inline-flex;
}

nav ul div.itms a{
text-decoration: none;
font-size: 18px;
padding: 6px 19px;
margin: 10px;
font-family: 'Poppins', sans-serif;

}
nav ul div.itms a:hover{
    color:black;
    border: 2px solid red;
    border-radius: 18px;
    background-color: rgb(255, 223, 229);
    
}


nav ul li.btn{
    padding: 0 40px;
    flex: 1;
    font-size: 29px;
    display: none;
}

nav ul li.btn span{
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
}
nav ul li.btn span.show:before{
    content: '\f00d';


}
@media screen and (max-width:1052px){
    nav{
        padding: 10px 40px 10px 0px;
    }
    nav ul li.logo{
        display: none;
    }
    nav ul div.itms{
        flex: 4;
    }
   
}

@media screen and (max-width:800px){
    nav ul li.btn{
display: block;
    }
    nav{
        padding: 9px 40px 9px 0;
        z-index: 1;
    }
    nav ul div.itms{
        z-index: -1;
        position: fixed;
        top: -220px;
        background: #222222;
        width: 100%;
        display: inline-block;
        transition: top .4s;
    }

    nav ul div.itms.show{
        top: 100px;
    }
    nav ul div.itms li{
        text-align: center;
        line-height: 30px;
        margin: 30px 0;

    }
    nav ul div.itms li a{
       font-size: 19px;
    }
}



/* home section */
.home{
    display: flex;
    background-image: url('84249.jpg') ;

    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: sans-serif , 'Ubuntu';
background-repeat: no-repeat;
width: 100%;
}
.home .max-width{
    margin: 13rem 0rem 0rem 25rem;
}
.home .home-content .text-1{ 
    font-size:38px;
    }
.home .home-content .text-2{ 
font-size: 75px;
font-weight: 600;
margin-left: -3px;
font-family: 'Poppins', sans-serif;

}
.home .home-content .text-3{ 
font-size: 40px;
margin:5px 0;

}
.home .home-content .text-3 span{ 
color: rgb(46, 232, 245);
font-weight: 800;
}





/* about */

.about{
    font-family: sans-serif;

}
.about .title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    color: black;
    font-size: 336%;
}

.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    padding: 0 127px 7px 101px;
}
.about .max-width .about-content .right{
width: 61%;
font-size: 149%;
}
.about .max-width .about-content .left img{
  height: 54rem;
    width: 19rem;
   left: 34px;
    object-fit: cover;
    border-radius: 6px;

}
.about .max-width .about-content .right{
    width: 55%;

}
.about .max-width .about-content .right .about-text{
   
width: 56%;
font-size: 45px;
font-weight: 700;
margin-bottom: 20px;
color: black;
font-family: Poppins, sans-serif;

}
.about .max-width .about-content .right .about-text span{
    color: crimson;
    animation-name: chandan;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes chandan{
  
  0%{
    color: crimson;

  }
  30%{
    letter-spacing: 20px;

  }
  85%{
    letter-spacing: 8px;
  }

}






.about .max-width .about-content .right p{
    text-align: justify;
    color: black;
}
.about .max-width .about-content .right a{
    display: inline-block;
    background: crimson;
    color:black;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    font-weight: 500;
    text-decoration: none;
}
.about .max-width .about-content .right a:hover{
    color: crimson;
    background: none;
}

@media screen and (max-width:800px){
    .about .about-content .column{
        width: 50%;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin:0 auto 60px;
    }
    .about .about-content .right{
       flex: 100%;
    }
}

@media screen and (max-width:1100px){
    .about .max-width .about-content .left img{
        height: 350px;
        width: 350px;
        
    
    }
}


/* skills */
section{
    padding: 10rem 0;
}
.skills{
    font-family: sans-serif;
    background-color: rgb(255, 223, 229);

}
.skills .title{
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
    position: relative;
    color: black;
    font-size: 336%;
}

.skills .skill-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12.7rem .7rem 10.1rem;
}
.skills .skill-content .column{
    width: calc(50% - 3rem);
}
.skills .skill-content .left .text{
margin-bottom: 1rem;
font-weight: 600;
font-size: 2.5rem;
color: black;
}
.skills .skill-content .left p{
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
  }
.skills .skill-content .right .bars{
    margin-bottom: 1.5rem;

}
.skills .skill-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.skills .skill-content .right span{
color: black;
    font-weight: 500;
    font-size: 1.8rem;
}
.skills .skill-content .right .line{
    height: .5rem;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skill-content .right .line::before{
    content: '';
position: absolute;    
height: 100%;
width: 80%;
left: 0;
top: 0;
background: crimson;
}
.skills .skill-content .right .c::before{
    width: 70%;
}
.skills .skill-content .right .java::before{
    width: 25%;
}
.skills .skill-content .right .html::before{
    width: 90%;
}
.skills .skill-content .right .css::before{
    width: 70%;
}
.skills .skill-content .right .js::before{
    width: 20%;
}
@media screen and (max-width:700px){
  .skills .skill-content .right{
    flex-basis: 100%;
    padding-top: 3rem;

  }
  .skills .skill-content{
    display: block;
    
}
.skills .skill-content .left p {
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
}
}



/* my project*/
#test{
    padding: 100px 0;
}

#test{
    font-family: sans-serif;

}
#test .title{
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-family: sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    color: black;
    font-size: 336%;
}


.test-row{
    width: 80%;
    margin:auto ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

}
.test-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px  20px 3px #ec8578;
    cursor: pointer;
    transition: transform 2s;
}
.test-col p{
font-size: 14px;
color: black;
}
.user{
    display: flex;
    align-items: center;
    margin:20px 0;
}
.user img{
    width: 328px;
    margin-right: 1px;
    border-radius: 3px;
}

.test-col:hover{
    transform: translatey(20%);
}





#test .max-width .skill-content .test-row .test-col a{
    display: inline-block;
    background: crimson;
    color:black;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    font-weight: 500;
    text-decoration: none;
}
#test .max-width .skill-content .test-row .test-col a:hover{
    color: crimson;
    background: none;
}



    
@media screen and (max-width:700px){
  .test-col{
      flex-basis: 100%;
  }
}



textarea {
    font-family: sans-serif;
  }

  .section-gap{
    padding: 100px 0;
}

.section-gap{
    font-family: sans-serif;

}
.section-gap .title{
  font-size: 336%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    color: black;
}


  .section-gap{
    background-color: rgb(255, 223, 229);

  }
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

  }
  
  @media (min-width: 576px) {
    .wrapper {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .wrapper {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .wrapper {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1140px;
    }
  }
  
  .d-grid {
    display: grid;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  button,
  select {
    outline: none;
    appearance: none;
  }
  
  button,
  .btn,
  select {
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
    font-size: medium;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  .section-gap {
    padding: 4.5rem 0;
  }
  
  @media screen and (max-width:767px) {
    .section-gap {
      padding: 3.5rem 0;
    }
  }
  
  @media screen and (max-width:480px) {
    .section-gap {
      padding: 3rem 0;
    }
  }
  
  h3.global-title {
    font-size: 40px;
    line-height: 45px;
    color: #16191e;
    margin-bottom: 50px;
    text-transform: capitalize;
  }
  
  @media screen and (max-width:767px) {
    h3.global-title {
      font-size: 40px;
      line-height: 45px;
    }
  }
  
  @media screen and (max-width:600px) {
    h3.global-title {
      font-size: 35px;
      line-height: 40px;
    }
  }
  
  @media screen and (max-width:500px) {
    h3.global-title {
      font-size: 30px;
      line-height: 35px;
    }
  }
  
  
    .margin-up {
      margin-top: 2.5rem;
    }
  
    h4.sub-title {
      font-size: 16px;
      margin: 0;
      color: #4cb1ff;
      font-weight: normal;
    }
  
    .contact-view {
      grid-template-columns: 1fr 1.3fr;
      grid-gap: 30px;
    }
  
    .cont-top {
      display: grid;
      grid-template-columns: 20px auto;
      grid-column-gap: 20px;
    }
  
    .twice {
      margin-bottom: 20px;
    }
  
    .cont-details span.fa {
      font-size: 22px;
      color: #ee101b;
      display: block;
      margin-top: 3px;

    }
  
    .cont-details h6 {
      font-size: 20px;
      color: #051b35;
      font-weight: 600;
    }
  
    .cont-details p,
    .cont-details p a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #777777;
      margin-top: 3px;
    }
  
    .cont-details p a:hover {
      text-decoration: underline;
      opacity: 0.8;
      color: #051b35;
    }
  
    .cont-details address {
      margin: 25px 0;
    }
  
    .cont-details address p {
      margin: 5px 0;
    }
  
    .twice-two {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;
    }
  
    .map-content form input,
    .map-content form textarea {
      background: #f8f9fa;
      border: 2px solid rgba(216, 216, 216, 0.3);
      color: #777;
      font-size: 16px;
      padding: 12px 15px;
      width: 100%;
      border-radius: 4px;
      height: 55px;
    }
  
    .map-content h5 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
      color: #000000;
    }
  
    .map-content form textarea {
      resize: none;
      min-height: 140px;
    }
  
    .map-content form input:focus,
    .map-content form textarea:focus {
      outline: none;
      border: 2px solid #051b35;
      background: #fff;
      box-shadow: none;
    }
  
    button.btn-contact {
      border: none;
      font-size: 16px;
      padding: 15px 30px;
      margin: 20px auto 0;
      color: #fff;
      background:crimson;
      border-color: #4cb1ff;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      border: 1px solid transparent;

      border-radius: 0.25rem;
    }
  
    .cont-details h6 a {
      color: #051b35;
    }
  
    @media(max-width: 992px) {
  
      .cont-details p,
      .cont-details p a {
        font-size: 16px;
      }
  
      .cont-details h5 {
        font-size: 32px;
        line-height: 35px;
      }
  
      .contact-view {
        grid-template-columns: 1fr;
      }
  
      .map-content {
        margin-top: 40px;
      }
    }
  
    @media(max-width: 480px) {
      .twice-two {
        grid-template-columns: 1fr;
      }
  
      button.btn-contact {
        width: 100%;
      }
    }



    #footer{
        padding: 2px 0 40px ;
        background: #efefef;
        position: relative;
    }
   
    
    
    
    
    .footer-left .fa, .footer-right .fa{
        font-size: 20px;
        color: #f73838;
        margin: 10px;
    }
    
    
    .social-links{
        text-align: center;
    
    }
    .social-links .fa{
        height: 40px;
        width: 40px;
        font-size: 20px;
        line-height: 40px;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 20px;
        margin: 40px 5px 0;
        cursor: pointer;
        color: #c70606;
        transition: .5s;
    }
    .social-links .fa:hover{
        background: #ffbda9;
        color: #fff;
        transform: translateY(-7px);
    }
    .social-links p{
        font-size: 16px;
        margin-top: 20px;
        color: black;
    }
    
    @media screen and (max-width:700px){
        .footer-left, .footer-right {
            font-size: 14px;
            flex-basis: 100%;
        }
            .footer-img{
                top: 25%;
            }
    }