@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  background-color: #261212;
}
nav ul {
  color: white;
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 8vh;
  font-family: "Open Sans", sans-serif;
  background-color: #282828;
  position: fixed;
  top: 0%;
  z-index: 100;
}
nav ul a {
  font-size: 1.5em;
  text-decoration: none;
  color: aquamarine;
}
nav ul a:hover {
  color: silver;
}
nav ul li {
  list-style: none;
  padding: 30px 30px 30px;
  font-weight: bolder;
}
.icon-bar {
  padding: 0 0 0 800px;
  font-size: 30px;
}
.icon-bar a {
  padding: 0 25px 0 25px;
  justify-content: space-around;
}
.intro {
  padding: 50px 25px 25px 50px;
  height: 900px;
}
.myname {
  font-size: 75px;
  height: auto;
  color: silver;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
}
.text-slider-items {
  display: none;
}
.text-slider {
  font-size: 45px;
  height: auto;
  color: silver;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  padding: 0px 0 25px 0;
}
.hi {
  font-size: 45px;
  color: silver;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  padding: 75px 0 0 0;
}
.about,
.edu,
.skills,
.contact {
  padding: 50px 25px 25px 50px;
  height: 900px;
}
.about h3 {
  font-size: 75px;
  color: silver;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  padding: 50px 0 0 0;
}
.about p {
  font-size: 30px;
  color: silver;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  padding: 25px 0 0 0;
}
.edu h3 {
  font-size: 75px;
  color: black;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  padding: 50px 0 0 0;
}
.project {
  background-color: rgb(0, 0, 0, 0.8);
  width: fit-content;
  border-radius: 0.5em;
  font-family: "Montserrat", sans-serif;
  color: aquamarine;
  padding: 0.2em;
  font-size: 2em;
}
.edu .project-container {
  width: 1500px;
}
.edu .project-container ul {
  display: flex;
  max-width: 100%;
}
.edu .project-container li {
  padding: 2em;
}
.edu .project-container img:hover {
  transform: scale(1.1);
}
.skills-container {
  background-color: rgb(0, 0, 0, 0.8);
  padding: 0.2em;
}
.skills h3 {
  font-size: 60px;
  color: silver;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  padding: 50px 0 0 0;
  text-align: center;
}
.skills ul {
  display: flex;
  font-size: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
  list-style: none;
}
.pre-loader {
  background-color: #2c3e50;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.sk-fading-circle {
  margin: 100px auto;
}
.contact h3 {
  font-size: 75px;
  color: silver;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  padding: 50px 0 0 0;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: silver;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: aquamarine;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #261212;
  padding: 20px;
}
label {
  color: silver;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  padding: 50px 0 0 0;
}
footer {
  color: aquamarine;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
