

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    background: #111;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar .sticky{
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.836);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    /*float: right;*/
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    float: left;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s;
}
.navbar .menu li a:hover{
    color: crimson;
}


/* Home section styling */
.home{
    display: flex;
    background: url("w2.jpg") no-repeat center;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-size: 50px;
    font-weight: 500;
}

/*about section styling*/
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 4px;
    background: #111;
    transform: translateX(-50%);
}
.about .title::after{

    content: "who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:  rgb(27, 23, 23);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
    font-size: medium;
    margin-bottom: 20px;
}
.about .about-content .right a{
    text-align: justify;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s;
}
.about .about-content .right a:hover{
    color: rgb(5, 22, 3);
    background: none;
}
/*skills section styling*/
section{
    padding: 100px 0;
}
.skills{
    font-family: 'Poppins', sans-serif;
    background: url("w1.jpg") no-repeat center;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;

    
}
.skills .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: rgb(246, 250, 252);
    font-family: 'Ubuntu', sans-serif;
    
}
.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100px;
    height: 4px;
    background: rgb(253, 251, 251);
    transform: translateX(-50%);
}
.skills .title::after{

    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:  rgb(29, 39, 36);
    padding: 5px;
    background: rgba(255, 255, 255, 0);
    transform: translateX(-50%);
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1px;
    color: #fff;
}
.skills .skills-content .left p{
    text-align-last: justify;
    font-size: medium;
    margin-bottom: 20px;
    color: #fff;
}
.skills .skills-content .left a{
    text-align: justify;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s;
}
.skills .skills-content .left a:hover{
    color: rgb(5, 22, 3);
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 800;
    font-size: 18px;
    color: #fff;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: crimson;
}
.skills-content .right .html::before{
    width: 80%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 50%;
}
.skills-content .right .c::before{
    width: 90%;
}
.skills-content .right .java::before{
    width: 90%;
}

/*project section styling*/
section{
    padding: 100px 0;
}
.project{
    font-family: 'Poppins', sans-serif;
}
.project .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.project .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 155px;
    height: 4px;
    background: #111;
    transform: translateX(-50%);
}
.project .title::after{

    content: "who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:  rgb(29, 39, 36);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.project .project-content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

/* Contact section styling */
section{
    padding: 100px 0;
}
.contact{
    font-family: 'Poppins', sans-serif;
    background: url("w3.jpg") no-repeat center;
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    min-height: 500px;
    
}
.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 220px;
    height: 4px;
    background: #fff;
    transform: translateX(-50%);
}
.contact .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:  rgb(29, 39, 36);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-content: right;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 30%);
}
.contact .contact-content .right{
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.contact .contact-content .text{
    font-size: 25px;
    font-weight: 600;
   
    text-align: justify;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .left p{
    text-align: justify;
    margin-bottom: 10px;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content a{
    position: relative;
    display: block;
    
    text-align: center;
    color: #fff;
    font-size: 150px;
    font-weight: 100;
    width: auto;
    margin-top: 20px;
    justify-content: space-between;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #fff;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    font-weight: 500;
    color: rgb(221, 219, 219);
}









/*responsive media query start */
@media (max-width: 763px){
    .max-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: url("wBG3.jpg") no-repeat center;
        height: 100vh;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        padding-top: 80px;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li{
        display: inline-block;
        margin: 20px 0;
        font-size: 15px;
    }
    .home .home-content .text-1{
        font-size: 27px;
    }
    .home .home-content .text-2{
        font-size: 65px;
        font-weight: 600;
        margin-left: -3px;
    }
    .home .home-content .text-3{
        font-size: 30px;
        margin: 5px 0;
    }
    .home .home-content .text-3 span{
        color: crimson;
        font-size: 50px;
        font-weight: 500;
    }
    .contact .contact-content a{
        position: relative;
        display: block;
        
        text-align: center;
        color: #fff;
        font-size: 150px;
        font-weight: 100;
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
    }
    .contact{
        font-family: 'Poppins', sans-serif;
        background: url("w3.jpg") no-repeat center;
        height: 180vh;
        background-attachment: fixed;
        background-size: cover;
        color: rgb(255, 255, 255);
        min-height: 500px;
        
    }
}

@media (max-width: 1180px){
    .about .about-content .left img{
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .skills{
        font-family: 'Poppins', sans-serif;
        background: url("w1.jpg") no-repeat center;
        height: 110vh;
        background-attachment: fixed;
        background-size: cover;
    
        
    }

.about .about-content .column{
    width: 100%;
}
.about .about-content .right{
    margin-top: 35px;
    width: 100%;
}
}
@media (max-width: 564px){
    .skills{
        font-family: 'Poppins', sans-serif;
        background: url("w1.jpg") no-repeat center;
        height: 110vh;
        background-attachment: fixed;
        background-size: cover;
        
    }
}
