.ConnectBar{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.Connect-Item{
    width: 40%;
}
.Connect-Image{
    height: calc(5vw + 40px);
    transition: 0.5s ease-in-out;
}
.Connect-Image:hover{
    height: calc(7vw + 40px);
    animation: rotation 2s infinite ease-in-out;
    transition: 0.1s ease-in-out;
}
#Connect-Hr{
    height: 1rem;
    border: 0.3rem black solid;
    background: linear-gradient(90deg, #2200ff 0%, #00ff40 26%, rgb(255, 0, 0) 91%);
}
.textalign{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

#connect-button{
    font-size: calc(2vw + 12px);
    border: 0.3rem black solid;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
    background-color: #2E5BA4;
    border-radius: 1rem;
    margin-top: 5%;
    padding: 15px;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
}
#connect-button:hover{
    background-color: #4385F0;
    transition: 0.5s ease-in-out;
}
u{
    margin-bottom: 5%;
    font-size: 3rem;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}
#connect-link{
    margin-top: 5%;
}
#connect-break{
    margin-left: 5%;
    width: 5px;
    background-color: white;
}
#texthello{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    font-size: calc(1.2vw + 18px);
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
