.contact{
    /* border: 4px solid purple; */
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
 align-items: center;
        }
        .space{
            /* border: 4px solid yellow; */
           width: 100%; 
                  
        }
        
        #space2 {
          /* border: 2px solid green; */

          display: flex;
            flex-direction: row;
            align-items: center;
justify-content: center;
        }

        .fabics{
          /* border: 2px solid green; */
         flex-basis: 40vw;
          display: flex;
          align-items: center;
        justify-content: space-around;
        }
        
        #space1 {
          display: flex;
justify-content: center;
          font-size: x-large;
            font-weight: bold;
                  }
    


        .fa {
      padding: 20px;
      font-size: 30px;  /*Focus here*/
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    
    .fa-youtube {
      background: #bb0000;
      color: white;
    }
    
    