body{
 background: url(../images/background.jpg) no-repeat center center fixed; 
}
.aryan1{
    width: 450px;
    height: 450px;
    background-color: rgba(155, 205, 238, 0.726);
    padding: 40px;
    color: rgb(19, 16, 16);
    margin: 0 auto;
    margin-top: auto;
    text-align: center;

}
.prof-pic
{
   border-radius: 50%;
   height: 200px;
   width: 200px;
   border-style: solid;
   border-color: white;
   border-width: 4px;
   border-radius: 50%;
     
}
h1
{
    font-weight: 100;
    letter-spacing: 6;
    font-size: 40px;

}
p
{
    font-weight: 100;
    letter-spacing: 1;
    font-size: 20px;
    font-style: oblique;
}
.aryan2
{
    width: 140px;
    margin: 0 auto;
    border-top: solid brown;
}
.social-icons{
    font-size: 50px;

}
.social-icons a{
    color: white;
}
.social-icons a :hover
{
    color: tomato;
}
.skill-container
{
    background-color: rgb(247, 244, 244);
    width: 1500px;
    height: 500px;
    text-align: center;
    
}
.projects-container
{
    background-color: rgb(247, 244, 244);
    width: 1500px;
    height: 400px;
    text-align: center;
}
h2
{
    font-weight: 5000x;
    letter-spacing: 1;
    font-size: 50px;
    font-style: initial;
    color: rgb(250, 39, 39);
    
}
p1
{
   font-weight: bold;
   letter-spacing: 1;
   font-size: 30px;
   font-style: oblique;

}
.column
{
   float: left;
   width: 33.33%;
   padding: 0px;
}
.row::after
{
    content: "";
    display: table;
    clear: both;
}
h3
{
    font-weight: 5000x;
    letter-spacing: 1;
    font-size: 50px;
    font-style: initial;
    color: rgb(250, 39, 39);
}
p2
{

   font-weight: bold;
   letter-spacing: 1;
   font-size: 30px;
   font-style: oblique;
   

}
.proj
{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
}
h4
{
    font-weight: 3000px;
    letter-spacing: 1;
    font font-size: 100px;
    font-style: initial;
}